- if License.feature_available?(:external_authorization_service)
  %fieldset
    %legend
      = _('External Classification Policy Authorization')
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :external_authorization_service_enabled do
            = f.check_box :external_authorization_service_enabled
            = _('Enable classification control using an external service')
        %span.help-block
          = external_authorization_description
          = link_to icon('question-circle'), help_page_path('user/admin_area/settings/external_authorization')
    .form-group
      = f.label :external_authorization_service_url, _('Service URL'), class: 'control-label col-sm-2'
      %span.help-block
        = external_authorization_url_help_text
      .col-sm-10
        = f.text_field :external_authorization_service_url, class: 'form-control'
    .form-group
      = f.label :external_authorization_service_timeout, _('External authorization request timeout'), class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :external_authorization_service_timeout, class: 'form-control', min: 0.001, max: 10, step: 0.001
        %span.help-block
          = external_authorization_timeout_help_text
      = f.label :external_auth_client_cert, _('Client authentication certificate'), class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :external_auth_client_cert, class: 'form-control'
        %span.help-block
          = external_authorization_client_certificate_help_text
    .form-group
      = f.label :external_auth_client_key, _('Client authentication key'), class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :external_auth_client_key, class: 'form-control'
        %span.help-block
          = external_authorization_client_key_help_text
    .form-group
      = f.label :external_auth_client_key_pass, _('Client authentication key password'), class: 'control-label col-sm-2'
      .col-sm-10
        = f.password_field :external_auth_client_key_pass, class: 'form-control'
        %span.help-block
          = external_authorization_client_pass_help_text
    .form-group
      = f.label :external_authorization_service_default_label, _('Default classification label'), class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :external_authorization_service_default_label, class: 'form-control'
